<!DOCTYPE html>
<html>
  <head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Checkout</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="public/files/style.css">

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>



  </head>
  	<body>
		<br>
		<form method="post" action="/charge" class="round form validateForm uniformForm" id="payment-form">
		<div id="main-container" class="container">
									<img class="logo" src="public/files/logo_medium.png">
								<div class="clearfix"></div>
				<div class="row">
				<div class="col-sm-10">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2>Select a Product or Plan</h2>
								<h3>And let our Sales Assistants find leads for you!</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
								<div class="productdescription col-sm-8">
									 <h5><b><span class="fulltimeresearcher">  Full-Time Researcher</span></b> $380</h5>
									<p>(40h / week, charged weekly; 1st Researcher at $380, all additional Researchers at $280 per week)</p>
									<br>
								</div>
								<div class="quantitysection col-sm-4">
										<label class="text-uppercase qty"><b>Quantity</b></label>
										 <br>
										<input name="fulltime" class="form-control validate" id="package_quantity" value="0" onclick="this.form.reset();">
										
									</div>	
								<div class="form-group">
								<div class="productdescription col-sm-8">
									<h5><b><span class="25customleads">  25 Custom Leads</span></b> $5</h5>
									<p>one time charge</p>
									<br>
								</div>
									<div class="quantitysection col-sm-4">
										<label class="text-uppercase qty"><b>Quantity</b></label>
										<br>
										<input name="customleads" class="form-control validate secondPackage" id="package_quantity2" value="0" onclick="this.form.reset();" >
										<br>
										<label class="text-uppercase price"><b>Price per week</b></label> 
										<!-- This field should show the automatically calculated price and shouldn't be editable -->
										<span name="total" id="totalsum" class="form-control" name="stripeAmount" ></span>
										<script>
											$(document).ready(function() {
											$('.secondPackage').on('keyup', function(){
												var number = +$(this).val();
												var amount = 5;
												var finalprice = number*amount;
												 $('#totalsum').text(finalprice);
												 
												
											});
												$('#package_quantity').on('keyup', function(){
												
												var number = +$(this).val();
												var amount = 280;
												var finalprice = number*amount;
												if (number == 1){
												finalprice = 380}
												else if (number == 0){
												finalprice = 0}
												else {
												finalprice = 380 + (number-1)*280
												}
												return $('#totalsum').text(finalprice);
											});
											});	
												

										</script>
									</div>
								</div>
								</div>
							</div>
						</div>
				</div>
				</div>
				
				<!--info block-->
				
				<div class="row">
				<div class="col-sm-10">
				<div class="errorMessage">
						<p>Oups! {{ error }} </p>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Your Information</h3>
							</div>
						<div class="panel-body">
							<div class="form-group">
									<label class="text-uppercase" for="email">Your Email</label>
									<input type="text" class="form-control" name="stripeEmail" id="email-address" placeholder="Email Address" data-validation="email">
									
							</div>
							<div class="paymethod">
								<div class="row">
									<div class="col-xs-12 col-md-6">
										<label class="text-uppercase" for="number">Your Card Number</label>
										<div id="card-number-element" class="field"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-4">
										<label class="text-uppercase" for="date">Expiry Date</label>
											<div id="card-expiry-element" class="field"></div>
									</div>
									<div class="col-xs-12 col-md-3">
										<label class="text-uppercase" for="cvv">CVV</label>
											 <div id="card-cvc-element" class="field"></div>
									</div>		 
								</div>
							</div>
								
								
							</div>
						</div>
						</div> 
				</div>	
				
				
					
				<!-- order button -->
				<div class="row"><div class="col-sm-4"></div>
									<div class="col-sm-4">
										<!-- <button type="submit" class="text-uppercase btn btn-primary" tabindex="3" onclick="return _chargeover_process();">Sign Up Now</button> -->
										<button type="submit" class="btn btn-success btn-lg btn-block" id="submit">Order Now</button>
										<div id="card-errors" class="payment-errors" role="alert"></div>
										<p><img class="elIMG ximg" src="https://nodo.s3.amazonaws.com/assets/images/graphics/credit-only.png" width="100%" style="margin-top:20px;"> </p>
									</div>
									<div class="col-sm-2 loading">
									
									</div>
				</div>
				<input type="hidden" name="stripeToken" class="token">
				<input type="hidden" name="amount" class="amounttoken" value="">
				<input type="hidden" name="Plan" class="plan" value="">
				<input type="hidden" name="count" class="count" value="">
				
		</div> 
		<script src="public/files/form-validator/jquery.form-validator.js"></script> 
<script src="public/files/form-validator/security.js"></script> 
<script>
  $.validate({
    modules : 'location, date, security, file'
    
  });
</script>
					<!-- footer block -->
					<div class="row" style="margin:0 10%;">
						<div class="col-sm-12">
							<div class="row guaranteesection" style="margin:30px 0;">
								<div class="col-sm-6 guarantee">				
								<img class="elScreenshot_image_src1 ximg" src="https://nodo.s3.amazonaws.com/assets/images/graphics/seal1.png" width="70px" height="auto">
								<div class="elScreenshot_text" style="width:70%; float:right;">
								<h3><b>Guarantee</b></h3>
								No question asked refund guaranteed. If you are unhappy for any reason, get your money back. Rock solid guarantee...
								<div class="elScreenshot_image elAlign_center">
								</div>
								</div>
								</div>
								
								<div class="col-sm-6 securepayment">
								<img class="elScreenshot_image_src1 ximg" src="https://nodo.s3.amazonaws.com/assets/images/graphics/grey-lock.png" width="70px" height="auto">
								<div class="elScreenshot_text" style="width:70%; float:right;">
								<h3><b>Secure Payment</b></h3>
								All orders are through a very secure network. Your credit card information is never stored in any way. We respect your privacy...
								<div class="elScreenshot_image elAlign_center">
								</div>
								</div>
								</div>
							</div>
						</div>
				
					</div>
		</form>

	<div style="text-align: center; font-size:17px; font-weight: bold; margin-bottom:50px;">Copyright © 2017 · <a id="link-2299-423" class="" href="mailto:hello@taskdrive.com" target="_parent">hello@taskdrive.com</a>· Made with ♡ in San Francisco & Spain</div>

	<script>

Stripe.setPublishableKey('pk_test_EuRj50XT5MsGJ3RUx1qvVPa6');
var stripe = Stripe('pk_test_EuRj50XT5MsGJ3RUx1qvVPa6');
var elements = stripe.elements();

var style = {
  base: {
    iconColor: '#666EE8',
    color: '#31325F',
    lineHeight: '40px',
    fontWeight: 300,
    fontFamily: 'Lucida Sans Unicode',
    fontSize: '15px',
	'::placeholder': {
      color: '#000',
	  margin: '0 5px',
    },
  },
};

var cardNumberElement = elements.create('cardNumber', {
  style: style
});
cardNumberElement.mount('#card-number-element');

var cardExpiryElement = elements.create('cardExpiry', {
  style: style
});
cardExpiryElement.mount('#card-expiry-element');

var cardCvcElement = elements.create('cardCvc', {
  style: style
});
cardCvcElement.mount('#card-cvc-element');



function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  $('.loading').html('<img class="loader" src="public/files/ajax-loader.gif">');
  var fullresearcherlabel = $('.fulltimeresearcher').text();
  var customleadslabel = $('.25customleads').text();
  var dollar = +$('#totalsum').text();
  var finalAmount = dollar*100;
  var form = document.getElementById('payment-form');
  var hiddenInput = $(".token");
  var hiddenInputAmount = $(".amounttoken");
  var hiddenInputPlan = $(".plan");
  var hiddenInputCount = $(".count");
  
    
  hiddenInput.attr('value', token.id);
  hiddenInputAmount.attr('value', finalAmount);
 var zero = $('#package_quantity').val();
  if (zero == 0){
   hiddenInputPlan.attr('value',customleadslabel );
   hiddenInputCount.attr('value',$('#package_quantity2').val() );
   
  } else  {  
   hiddenInputPlan.attr('value', fullresearcherlabel);
	hiddenInputCount.attr('value',zero );
  }
  
 
// Submit the form
	$.ajax('/charge',{
	type: 'POST',
	data: $('form').serialize(),
	success : function(result){
	$('form').remove();
	$('body').html(result).fadeIn();
//	$('#loading').hide();
	},
	timeout: 3000,
	error: function(result) {
	$('body').html(result).fadeIn();
	$('#loading').hide();
	}
	}	);
	
}

function createToken() {
  stripe.createToken(cardNumberElement).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
	  errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
};

// Create a token when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(e) {
  e.preventDefault();
  createToken();
});

cardNumberElement.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

</script>


</body></html>