<!DOCTYPE html>
<html>
  <head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Thank you</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="public/files/style.css">

<script src="https://use.fontawesome.com/c23bc101ed.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>


  </head><div id="main-container" class="container">
									<img class="logo" src="public/files/logo_medium.png">
								<div class="clearfix"></div>
				<div class="row">
				<div class="col-sm-10">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2>Congratulations - Your Order Is Complete!</h2>
								<h3>We are now setting up your account, assigning you a Sales Assistant and sending you an email within one business day.</h3>
							</div>
						
								<div class="panel-body receipt">
										<div class="form-group"><h3>Your Receipt</h3>
										<div class="productdescription col-sm-8">
											<h5><b>  Plan</b></h5>
											<p>{{ count }} x  {{ Plan }}</p>
											<br>
										</div>
											<div class="quantitysection col-sm-4">
																		
												<label class="text-uppercase" for="package[quantity]" style=" margin-left: 7px;"><b>Price</b></label> <br>
												<!-- This field should show the automatically calculated price and shouldn't be editable -->
												$ {{ price }}
											</div>
										</div>
								</div>		
								<div class="panel-body nextsteps">
										<div class="form-group">
										<h3>Next Steps</h3>
											<div class="productdescription col-sm-4">
												<img class="elScreenshot_image_src1 ximg" src="https://images.clickfunnels.com/6f/807fb08ee711e5a2c4f986994ca3ca/669348-letter-128.png" width="auto" height="auto">
											</div>
											<div class="quantitysection col-sm-8">
												<h3 class="ne elScreenshot_text_headline ssHeadlineSize2" contenteditable="false">
												<b>Account Setup in Progress</b>
												</h3>
												<div class="ne elScreenshot_text_body ssBodySize1" contenteditable="false">We are now setting up your account and assigning you a Sales Assistant. Preparation normally is complete within one business day and we send you an email with more information shortly.</div>
											</div>
										</div>
								</div>
								<div class="panel-body ourguarantee">
										<div class="form-group">
										<h3>Our Guarantee:</h3>
											<div class="productdescription col-sm-4">
												<img src="https://nodo.s3.amazonaws.com/assets/images/graphics/seal1.png" class="elScreenshot_image_src1 ximg" width="auto" height="auto">
											</div>
											<div class="quantitysection col-sm-8">
												<h3 class="ne elScreenshot_text_headline ssHeadlineSize2" contenteditable="false">
												<b>No Questions Asked Guarantee</b>
												</h3>
												<div class="ne elScreenshot_text_body ssBodySize1" contenteditable="false">We are now setting up your account and assigning you a Sales Assistant. Preparation normally is complete within one business day and we send you an email with more information shortly.</div>
											</div>
										</div>
								</div>
								<div class="panel-body additionallinks">
										<div class="form-group">
										<h3>Additional Links & Resources:</h3>
											<div class="productdescription col-sm-6">
												<b> Want some Help?</b>
												<div>Our Specialists can help you setup a complete sales funnel in no time!</div>
												<div type="button" style="margin-top: 20px;"><a href="mailto:hello@salesfuelapp.com?subject=Request%20Quote" style="color: rgb(255, 255, 255); background-color: rgb(14, 141, 199); border-radius: 2px; padding: 11px;">Request a quote</a></div>
											</div>
											<div class="productdescription col-sm-6">
												<b> Got a question? </b>
												<div style="height:40px;">Ask us anything</div>
												<div type="button" style="margin-top: 20px;"><a href="mailto:hello@salesfuelapp.com?subject=Support%20Request" style="color: rgb(255, 255, 255); background-color: rgb(14, 141, 199); border-radius: 2px; padding: 11px;">Request a quote</a></div>
											</div>
										</div>
								</div>
						</div>
				</div>
				

				</div>
</div>
<div style="text-align: center; font-size:17px; font-weight: bold; margin:50px 0;">Copyright © 2017 · <a id="link-2299-423" class="" href="mailto:hello@taskdrive.com" target="_parent">hello@taskdrive.com</a>· Made with ♡ in San Francisco & Spain</div>
					
</body></html>