<!DOCTYPE html>
<html>
  <head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Thank you</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/files/style.css">

<script src="https://use.fontawesome.com/c23bc101ed.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script>
var checkplan =  '{{Plan}}';
$(document).ready(function() {
var check = {{count}};

var neededplan = "Full-Time Researcher";
if (check > 1){
$('.plans').append('s');
 }
 
 if (checkplan == '  Full-Time Researcher' ){
 $('.plans').prepend(check + ' x ');
 }
});

</script>

  </head>
<body class="thx"> 
	<!--header-->
	<div class="logorow" style="background: #1e252a; ">
		<img class="logo" src="../public/files/logo.png">
		 </div>
	<div class="sub-bannercon col-xs-12 black-bg-2">
<section class="container">
<div class="row">
<div class="subbanner white-color text-center col-xs-12 ">
<div class="v-align">
<h1 class="main-heading">Congratulations - Your Order Is Complete!</h1>
<p>We are now setting up your account, assigning you a Sales Assistant and sending you an email within one business day.</p>
</div>
</div>
</div>
</section>
</div>
	<div id="main-container" class="container">
								<div class="row">
				<div class="col-sm-12 inner-smallbox inner-smallbox2 col-xs-12 green-shadow2 white-bg no-Margin">
					<div class="panel-body receipt">
										<div class="form-group"><h3>Your Receipt</h3>
											<div class="extraflex">
										<div class="plandescription">
											<label>  Plan</label>
											<br>
											<p class="dynamic">{{ Plan }}</p>
											
										</div>
											<div class="quantitysection">
												<label>  Price</label>
											<br>
											<p class="dynamic">${{ price }}</p>
											</div>
										</div>
										</div>
								</div>		
								<div class="panel-body nextsteps">
										<div class="form-group">
										<h3>Next Steps</h3>
											<div class="productdescription col-sm-4">
												<img class="elScreenshot_image_src1 ximg" src="https://images.clickfunnels.com/6f/807fb08ee711e5a2c4f986994ca3ca/669348-letter-128.png" width="auto" height="auto">
											</div>
											<div class="quantitysection col-sm-8">
												<h3 class="ne elScreenshot_text_headline ssHeadlineSize2" contenteditable="false">
												<b>Account Setup in Progress</b>
												</h3>
												<div class="ne elScreenshot_text_body ssBodySize1" contenteditable="false">We are now setting up your account and assigning you a Sales Assistant. Preparation normally is complete within one business day and we send you an email with more information shortly.</div>
											</div>
										</div>
								</div>
								<div class="panel-body ourguarantee">
										<div class="form-group">
										<h3>Our Guarantee:</h3>
											<div class="productdescription col-sm-4">
												<img src="../public/files/gurantee-image.png" class="elScreenshot_image_src1 ximg" width="auto" height="auto">
											</div>
											<div class="quantitysection col-sm-8">
												<h3 class="ne elScreenshot_text_headline ssHeadlineSize2" contenteditable="false">
												<b>No Questions Asked Guarantee</b>
												</h3>
												<div class="ne elScreenshot_text_body ssBodySize1" contenteditable="false">We are now setting up your account and assigning you a Sales Assistant. Preparation normally is complete within one business day and we send you an email with more information shortly.</div>
											</div>
										</div>
								</div>
								
						</div>
				</div>
				

				</div>
</div>
<div style="text-align: center; font-size:17px; font-weight: bold; padding-bottom:30px;" class="black-bg-2 white-color copyright text-center col-xs-12">Copyright © 2017 · <a id="link-2299-423" class="" href="mailto:hello@taskdrive.com" target="_parent">hello@taskdrive.com</a>· Made with ♡ in San Francisco & Spain</div>
					
</body></html>